<div class="table-container">
    <table class="generic-table">
        <thead>
            <tr>
                <th *ngFor="let c of columns" [style.width]="c.width" [style.text-align]="c.align || 'left'">
                    {{ c.label }}
                </th>
            </tr>
        </thead>

        <tbody *ngIf="data?.length; else empty">
            <tr *ngFor="let row of data">
                <td *ngFor="let c of columns" [style.text-align]="c.align || 'left'">
                    {{ row[c.key as keyof typeof row] }}
                </td>
            </tr>
        </tbody>
    </table>

    <ng-template #empty>
        <div class="empty">{{ emptyMessage }}</div>
    </ng-template>
</div>