<header class="header">
    <div class="brand">
        <a routerLink="/" class="brand__link">
            <img src="public/logo.png" alt="VirtualPark" class="brand__logo" />
            <span class="brand__name">VirtualPark</span>
        </a>
    </div>

    <nav class="nav" aria-label="Sections">
        <app-dropdown-menu label="Attractions" [items]="attractionsMenu"></app-dropdown-menu>
        <app-dropdown-menu label="Events" [items]="eventsMenu"></app-dropdown-menu>
        <app-dropdown-menu label="Events" [items]="rewardMenu"></app-dropdown-menu>
    </nav>
</header>
